
    <footer class="bg-main-light py-4" >
        <div class="container">
            <h2>Get The FreshCart App</h2>
            <p class="text-muted">We Will Send You a Link , Open It On Your Phone To Download The App  </p>
            <div class="d-flex gap-3">
                <input type="email" class="form-control" placeholder="Email....">
                <button class="main-btn flex-shrink-0">Share App Link</button>
            </div>
            <hr>
            <h3 class="h6 text-muted text-center"> &copy; 2024 Ahmed Adnan All Rights Reserved </h3>
        </div>
        
        </footer>
